
<h2>Product Details</h2>
<div>
    <p>Title: Gerbera</p>
    <p>Description:Wedding Flower</p>
    <p>Unit Price:5 Rs.</p>
    <p>Stock available:78000</p>
    <img src="" width="100" height="100"/>
    <p>Likes:67000</p>
</div>