@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome IET</h1>
    <ol>
        <li>Java</li>
        <li>NodeJs</li>
        <li>Dotnet</li>
        
    </ol>
</div>
