@{
    ViewData["Title"] = "Home Page";
}
<br><br>
    <div class="text-center">
      <b> <h1>Welcome</h1>
        <h1 class="display-2">TO</h1>
        <i><h1 style="color:aqua">IET Acts</h1>
        <u><h1 class="display-5">Pune</h1>
    </div>
