@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <b> <h1 style="color:chartreuse">Welcome</h1></b>
    <b><h1 style="color:blueviolet">To</h1></b>
    <i><b> <h1 style="color:aqua">CDAC IET ACTs</h1></b></i>
    <i><b> <h1 style="color:blue">PUNE</h1></b></i>

</div>
