@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>To IET Acts</h2>
    <b> <h1 style="color:aqua">Pune</h1></b>
  
</div>
